#Day 1 Pandas

In [4]:
import pandas as pd
dataFrame = pd.read_csv("C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\pokemon_data.csv")
dataFrame.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [13]:
excelDataFrame = pd.read_excel("C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\pokemon_data.xlsx")
excelDataFrame.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [17]:
textDataFrame = pd.read_csv('C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\pokemon_data.txt', delimiter = '\t')
textDataFrame.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [5]:
dataFrame.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Read Header of the CSV

In [22]:
type(dataFrame.columns)
dataFrame.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [23]:
columnList = list(dataFrame.columns)
columnList

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

select specifice columns

In [25]:
dataFrame[['Name', 'Attack']].head(5)

                    Name  Attack
0              Bulbasaur      49
1                Ivysaur      62
2               Venusaur      82
3  VenusaurMega Venusaur     100
4             Charmander      52

read each row

In [28]:
dataFrame.iloc[0:4] # iloc -> integer location

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [30]:
#iterrows
for index, row in dataFrame.iterrows():
    if index <= 5:
        print(index, row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon

#loc gets rows (or columns) with particular labels from the index 
#iloc gets rows (or columns) at particular positions in the index

In [32]:
dataFrame.loc[dataFrame['Attack'] >= 100][['Name', 'Type 1', 'Type 2']]

                          Name   Type 1  Type 2
3        VenusaurMega Venusaur    Grass  Poison
7    CharizardMega Charizard X     Fire  Dragon
8    CharizardMega Charizard Y     Fire  Flying
12     BlastoiseMega Blastoise    Water     NaN
19       BeedrillMega Beedrill      Bug  Poison
..                         ...      ...     ...
795                    Diancie     Rock   Fairy
796        DiancieMega Diancie     Rock   Fairy
797        HoopaHoopa Confined  Psychic   Ghost
798         HoopaHoopa Unbound  Psychic    Dark
799                  Volcanion     Fire   Water

[210 rows x 3 columns]

In [33]:
dataFrame.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [37]:
dataFrame.sort_values(['Name', 'HP'], ascending=[0, 1]).head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
286,263,Zigzagoon,Normal,NaN,38,30,41,30,41,60,3,False
707,644,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
582,523,Zebstrika,Electric,NaN,75,100,63,80,63,116,5,False
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
367,335,Zangoose,Normal,NaN,73,115,60,60,60,90,3,False

Changing the Data

In [39]:
dataFrame['Total'] = dataFrame['HP'] + dataFrame['Attack'] + dataFrame['Defense'] + dataFrame['Sp. Atk'] + dataFrame['Sp. Def'] + dataFrame['Speed']
dataFrame.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [42]:
dataFrame.drop(columns = ['Total'], inplace = True)
dataFrame.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [44]:
dataFrame['Total'] = dataFrame.iloc[:,4:10].sum(axis = 1)
dataFrame.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [50]:
columnList = list(dataFrame.columns.values)

In [51]:
dataFrame = dataFrame[columnList[0:4] + [columnList[-1]] + columnList[4:12]]
dataFrame.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Saving our Data

In [56]:
dataFrame.to_csv("C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\modified_pokemon_data.csv", index = False)

In [58]:
dataFrame.to_excel("C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\modified_pokemon_data.xlsx", index = False)

In [61]:
dataFrame.to_csv("C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\modified_pokemon_data.txt", index = False, sep = '\t')

In [57]:
modified_pok_csv = pd.read_csv('C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\modified_pokemon_data.csv')
modified_pok_csv.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [60]:
modified_pok_excel = pd.read_excel('C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\modified_pokemon_data.xlsx')
modified_pok_excel.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [64]:
modified_pok_txt = pd.read_csv('C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\modified_pokemon_data.txt', delimiter = '\t')
modified_pok_txt.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Filtering Data in DataFrame

In [75]:
new_dataFrame = dataFrame.loc[(dataFrame['Type 1'] == 'Grass') & (dataFrame['Type 2'] == 'Poison') & (dataFrame['HP'] > 70)]
new_dataFrame.reset_index(drop = True, inplace = True)
new_dataFrame

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [78]:
dataFrame.loc[dataFrame['Name'].str.contains('Mega')].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False

In [79]:
dataFrame.loc[~dataFrame['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [83]:
import re
dataFrame.loc[dataFrame['Type 1'].str.contains('grass|fire', flags = re.I ,regex = True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [85]:
dataFrame.loc[dataFrame['Name'].str.contains('^Pi[a-z]*', flags=re.I, regex = True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

Conditional Changes

In [87]:
dataFrame.loc[dataFrame['Type 1'] == 'Fire'].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False

In [90]:
dataFrame.loc[dataFrame['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
dataFrame

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [91]:
dataFrame.loc[dataFrame['Type 1'] == 'Fire', 'Legendary'] = True
dataFrame.loc[dataFrame['Type 1'] == 'Fire'].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,True
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,True
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,True
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,True
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,True
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,True
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,True
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,True
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,True

In [92]:
dataFrame.loc[dataFrame['Type 1'] == 'Fire', ['Legendary', 'Generation']] = ['False', 10]
dataFrame.loc[dataFrame['Type 1'] == 'Fire'].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,10,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,10,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,10,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,10,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,10,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,10,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,10,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,10,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,10,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,10,False

In [93]:
dataFrame = modified_pok_csv.copy()
dataFrame.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

Aggregate Statistics(Groupby)

In [96]:
dataFrame.groupby(['Type 1']).mean().sort_values('Defense', ascending = False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408

In [97]:
dataFrame.groupby(['Type 1']).mean().sort_values('Attack', ascending = False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824

In [99]:
dataFrame.groupby(['Type 1']).sum().sort_values('Attack', ascending = False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Water,33946,48211,8071,8305,8170,8379,7898,7388,320,4.0
Normal,31279,39365,7573,7200,5865,5470,6245,7012,299,2.0
Grass,24141,29480,4709,5125,4956,5425,4930,4335,235,3.0
Bug,23080,26146,3925,4897,4880,3717,4471,4256,222,0.0
Fire,17025,23820,3635,4408,3524,4627,3755,3871,167,5.0
Rock,17280,19965,2876,4086,4435,2787,3321,2460,152,4.0
Psychic,21706,27129,4026,4073,3858,5609,4918,4645,193,14.0
Dragon,15180,17617,2666,3588,2764,3099,2843,2657,124,12.0
Ground,11401,14000,2361,3064,2715,1807,2008,2045,101,4.0
Electric,15994,19510,2631,3040,2917,3961,3243,3718,144,4.0
Dark,14302,13818,2071,2740,2177,2314,2155,2361,125,2.0
Fighting,9824,11244,1886,2613,1780,1434,1747,1784,91,0.0
Steel,11957,13168,1761,2503,3412,1823,2177,1492,104,4.0
Ghost,15568,14066,2062,2361,2598,2539,2447,2059,134,2.0
Poison,7050,11176,1883,2091,1927,1692,1803,1780,71,0.0
Ice,10165,10403,1728,1746,1714,1861,1831,1523,85,2.0
Fairy,7642,7024,1260,1046,1117,1335,1440,826,70,1.0
Flying,2711,1940,283,315,265,377,290,410,22,2.0

In [101]:
dataFrame.groupby(['Type 1']).count().sort_values('Name', ascending = False)

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Water,112,112,53,112,112,112,112,112,112,112,112,112
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Flying,4,4,2,4,4,4,4,4,4,4,4,4

In [103]:
dataFrame['count'] = 1
dataFrame.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,1

In [106]:
dataFrame.groupby(['Type 1', 'Type 2']).count()['count'].head(20)

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
        Grass        6
        Ground       2
        Poison      12
        Rock         3
        Steel        7
        Water        1
Dark    Dragon       3
        Fighting     2
        Fire         3
        Flying       5
        Ghost        2
        Ice          2
        Psychic      2
        Steel        2
Dragon  Electric     1
Name: count, dtype: int64

working with large dataset

we read chunks to read large amount of data

In [112]:
for chunkFrame in pd.read_csv('C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\modified_pokemon_data.csv', chunksize = 100):
    print("each Chunk Size Frame")

each Chunk Size Frame
each Chunk Size Frame
each Chunk Size Frame
each Chunk Size Frame
each Chunk Size Frame
each Chunk Size Frame
each Chunk Size Frame
each Chunk Size Frame

In [116]:
outPutChunkFrame = pd.DataFrame(columns = dataFrame.columns)
outPutChunkFrameList = list(outPutChunkFrame.columns.values)
outPutChunkFrameList

['#',
 'Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'count']

In [124]:
for chunkFrame in pd.read_csv('C:\\Users\\pvalluru\\Desktop\\Python_practice\\Pandas\\dataset\\modified_pokemon_data.csv', chunksize=100):
    chunkFrame['count'] = 1
    resultFrame = chunkFrame.groupby(['Type 1']).count()
    outPutChunkFrame = pd.concat([outPutChunkFrame, resultFrame], sort = True)
outPutChunkFrame.head(20)

,#,Attack,Defense,Generation,HP,Legendary,Name,Sp. Atk,Sp. Def,Speed,Total,Type 1,Type 2,count
Bug,11,11,11,11,11,11,11,11,11,11,11,NaN,9,NaN
Electric,4,4,4,4,4,4,4,4,4,4,4,NaN,2,NaN
Fairy,2,2,2,2,2,2,2,2,2,2,2,NaN,0,NaN
Fighting,5,5,5,5,5,5,5,5,5,5,5,NaN,0,NaN
Fire,11,11,11,11,11,11,11,11,11,11,11,NaN,3,NaN
Ghost,1,1,1,1,1,1,1,1,1,1,1,NaN,1,NaN
Grass,10,10,10,10,10,10,10,10,10,10,10,NaN,10,NaN
Ground,4,4,4,4,4,4,4,4,4,4,4,NaN,0,NaN
Normal,15,15,15,15,15,15,15,15,15,15,15,NaN,11,NaN
Poison,12,12,12,12,12,12,12,12,12,12,12,NaN,4,NaN
Psychic,4,4,4,4,4,4,4,4,4,4,4,NaN,0,NaN
Rock,3,3,3,3,3,3,3,3,3,3,3,NaN,3,NaN
Water,18,18,18,18,18,18,18,18,18,18,18,NaN,8,NaN
Bug,7,7,7,7,7,7,7,7,7,7,7,NaN,6,NaN
Dragon,3,3,3,3,3,3,3,3,3,3,3,NaN,1,NaN
Electric,10,10,10,10,10,10,10,10,10,10,10,NaN,2,NaN
Fairy,3,3,3,3,3,3,3,3,3,3,3,NaN,1,NaN
Fighting,2,2,2,2,2,2,2,2,2,2,2,NaN,0,NaN
Fire,6,6,6,6,6,6,6,6,6,6,6,NaN,1,NaN
Ghost,3,3,3,3,3,3,3,3,3,3,3,NaN,3,NaN

In [123]:
outPutChunkFrame.head(5)

,#,Attack,Defense,Generation,HP,Legendary,Name,Sp. Atk,Sp. Def,Speed,Total,Type 1,Type 2,count
Bug,11,11,11,11,11,11,11,11,11,11,11,NaN,9,NaN
Electric,4,4,4,4,4,4,4,4,4,4,4,NaN,2,NaN
Fairy,2,2,2,2,2,2,2,2,2,2,2,NaN,0,NaN
Fighting,5,5,5,5,5,5,5,5,5,5,5,NaN,0,NaN
Fire,11,11,11,11,11,11,11,11,11,11,11,NaN,3,NaN